.header{
    display: flex;
}

.header-content{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 50%;

    padding:5rem;
    padding-right: 3rem;
    padding-left:7rem
}

.header-content h1{
    font-size:50px;
    font-family: century, sans-serif;
    color: white;
    font-weight:100; 
    letter-spacing: 1px;
}

.header-content p{
    font-size:26px; 
    font-family: century, sans-serif;
    color: white;
    font-weight:100; 
    letter-spacing: 0.6px;
}

.btn button {
    border-radius:10px;
    margin-top: 20px;
    padding: 25px 30px;
    text-align: center;
    border-radius: 10px;
    border: None;
    font-family: century, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.header-image{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-image img{
    width:340px;
    height:450px;
}